@tailwind base;
@tailwind components;
@tailwind utilities;


.section{
    @apply flex flex-col justify-center items-center min-h-screen relative p-0 m-0
}
.soc-icons{
    @apply text-4xl transition-colors duration-500
}
.elem{
    float: left;
    -webkit-shape-outside: circle();
    shape-outside: circle();
}

